extends layout

block content
  #mazemap-container.map-home
  
  h1 #{title}
  form(method='POST', action='/event/edit')
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=event.name)
    br
    #form-group
      label Category:
      select(name='category', value=event.category)
        option(value='sports') Sports
        option(value='studies') Studies
        option(value='leisure') Leisure
        option(value='club activity') Club Activity
    br
    #form-group
      label Location:
      #search-input-container_edit.search-control-default
        input#searchInput_edit.search-input(tabindex='0', autocomplete='off', type='text', name='search', placeholder='Search')
        #suggestions_edit.search-suggestions.default
      input#locLng_edit.form-control(name='lng', type='hidden', required='')
      input#locLat_edit.form-control(name='lat', type='hidden', required='')
    br
    #form-group
      label Date:
      input(name='date', type='date', value=event.date)
    br
    #form-group
      label Time:
      input(name='time',type='time', value=event.time)
    br
    #form-group
      label Description:
      textarea.form-control(name='description', type='text', value=event.description)
    br
    #form-group
      label(for='capacity') Capacity:
      input(type='number', name='capacity', min='1', value=event.capacity)
    br
    input(type='hidden', name="id", value=event.id)
    input.btn.btn-primary(type='submit',value='Update This!')


  script
    include map.js
  script.
      addMarker();