extend layout

block content
    h1= event.name
    h2= event.category
    p= "Location:   ".concat(event.location)
    p= "Date:       ".concat(days[event.date.getDay()],', ', event.date.getDate(), ' ',months[event.date.getMonth()], ' ', event.date.getFullYear())
    p= "Time:       ".concat(event.time)
    p= "Desc:       ".concat(event.description)
    p= "Capacity:   ".concat(event.capacity)
    p= "Curr Attendees: ".concat(event.current_attendees)
    //- p= "Is Active:  ".concat(event.isactive)
    

    a(href="/event/edit/"+event.id) Event edit button

    
    br
    br
    form(method='POST', action='/event/delete')
        input(type='hidden', name="id", value=event.id)
        input.btn.btn-primary(type='submit',value='Delete')

    //- a(href="/",data-id=event.id) Delete
