extend layout

block content
    h1= event.name
    h2= event.category
    p= "Location    : ".concat(event.location)
    p= "Date        : ".concat(event.datetime.toLocaleDateString(undefined ,{dateStyle:"full"}))
    p= "Time        : ".concat(event.datetime.toLocaleTimeString(undefined ,{timeStyle:"short", hourCycle:"h24"}))
    p= "Desc        : ".concat(event.description)
    p= "Capacity    : ".concat(event.capacity)
    p= "Curr Attendees: ".concat(event.current_attendees)
    p= "Is Active   :  ".concat(event.isActive)
    
    a(href="/event/user/"+event.id) who had join the event???
    br
    br
    a(href="/event/edit/"+event.id) Event edit button

    
    br
    br
    form(method='POST', action='/event/delete')
        input(type='hidden', name="id", value=event.id)
        input.btn.btn-primary(type='submit',value='Delete')

    br

    form(method='POST', action='/event/leaveEvent')
        input(type='hidden', name="eventID", value=event.id)
        input.btn.btn-primary(type='submit',value='Leave this Event')


    //- a(href="/",data-id=event.id) Delete
    