extends layout

block content
    .container
        .row.py-5
            form.input-group(action='/search' method = 'GET')
                input.search.form-control(type='text', placeholder='Event search...', name='search')
                .input-group-btn.pr-4
                    button.btn.searchButton(type='submit')
                        i.material-icons search
                .pr-4
                    select.filter.form-control(name='filterBy')
                        option(value='') Filter By
                        option(value='sports') Sports
                        option(value='studies') Studies
                        option(value='leisure') Leisure
                        option(value='club activity') Club Activity
                .pr-4
                    select.filter.form-control(name='sortBy')
                        option(value='') Sort By
                        option(value='happeningsoon') Happening Soon
                        option(value='happeninglatest') Happening latest
                        option(value='newestcreated') Newest Created
                        option(value= 'latestcreated') Latest Created
                        //option(value= 'capacity') Capacity
                            
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
        table.ui.celled img { display: inline-block; }
    //input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..', title='Type in a name')
    if(noMatch !== null)
        h3 #{noMatch}

    #mazemap-container(style='width: 50%; height: 50%;')
    script
        include map.js

    each event, i in events
        h4#lat #{event.location.lat}
        h4#lng #{event.location.lng}
        //- p#lat event.location.lat
        //- p#lng event.location.lng

        script.
            map.on('load', function(){
            var lng = parseFloat(document.getElementsById("lng"));
            var lat = parseFloat(document.getElementsById("lat"));

            var lnglat = {lat: lat, lng: lng};
            var marker = new Mazemap.MazeMarker( {
                color: "MazeMapOrange",
                size: 36,
                glyph: '🖨',

            } ).setLngLat( lnglat ).addTo(map);

            });
        
        .ui.noleftmargin
            .row
                table.ui.celled.table.left.aligned
                    thead                               
                        h3 #{event.name}
                    tbody
                        tr.trbackground
                            th 
                                h4 Capacity: #{event.capacity}
                            th 
                                h4 Description:
                        tr.trbackground
                            th 
                                h4 Happening: #{event.datetime.toLocaleDateString()} at #{event.datetime.toLocaleTimeString(undefined ,{timeStyle:"short", hourCycle:"h24"})}
                            th 
                                h4 #{event.description}
                    tfoot
                        th.text-left
                            form(method='GET', action='/event/' + event.id)
                                input(type='hidden', name="id", value=event.id)
                                input.joinButton(type='submit',value='More Details')
                        th.text-right
                            form(method='POST', action='/event/join/' + event.id)
                                input(type='hidden', name="id", value=event.id)
                                input.joinButton(type='submit',value='Join Event')

        







