extends layout

block content
    .container
        .row.py-5
            form.input-group(action='/search' method = 'GET')
                input.search.form-control(type='text', placeholder='Event search...', name='search')
                .input-group-btn.pr-4
                    button.btn.searchButton(type='submit')
                        i.material-icons search
                .pr-4
                    select.filter.form-control(name='filterBy')
                        option(value='') Filter By
                        option(value='sports') Sports
                        option(value='studies') Studies
                        option(value='leisure') Leisure
                        option(value='club activity') Club Activity
                .pr-4
                    select.filter.form-control(name='sortBy')
                        option(value='') Sort By
                        option(value='happeningsoon') Happening Soon
                        option(value='happeninglatest') Happening latest
                        option(value='newestcreated') Newest Created
                        option(value= 'latestcreated') Latest Created
                        //option(value= 'capacity') Capacity
                            
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
        table.ui.celled img { display: inline-block; }
    //input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..', title='Type in a name')
    if(noMatch !== null)
        h3 #{noMatch}
    #mazemap-container.map-home
    .container.overflow-auto.events-home
        .events-content
            each event, i in events
                p(style='font-size:0;')#lng #{event.location.lng}
                p(style='font-size:0;')#lat #{event.location.lat}
                p(style='font-size:0;')#category #{event.category}
               
                .card(style='width: 100%; background-color: white; border: 1px solid #533180; max-height: 9em !important;')
                    .card-body
                        .row
                            .col.overflow-auto(style="max-height: 5em;min-height: 5em;")
                                h2.card-title.spartan #{event.name}
                            .col.overflow-auto(style= 'border-left: 1px solid #533180;max-height: 5em;min-height: 5em;' )
                                p.card-text.spartan #{event.description}

                        .row
                            .col.overflow-auto(style="max-height: 3em;min-height: 3em;")
                                h5.card-subtitle.mb-2.spartan #{event.datetime.toLocaleDateString()} at #{event.datetime.toLocaleTimeString(undefined, {timeStyle: "short",hourCycle: "h24"})}
                            .col.overflow-auto(style="display: inline-flex; max-height: 3em;min-height: 3em;")
                                form(style="margin-right: 15%;")(method='GET', action='/event/' + event.id)
                                        input(type='hidden', name="id", value=event.id)
                                        input.joinButton(type='submit',value='More Details')
                                form(style="margin-left: 30%")(method='POST', action='/event/join/' + event.id)
                                        input(type='hidden', name="id", value=event.id)
                                        input.joinButton(type='submit',value='Join Event')


    script
        include map.js
    script.
        addMarker();

    //- script.

    //-     var lng = document.querySelectorAll('#lng');
    //-     var lat = document.querySelectorAll('#lat');
    //-     var category = document.querySelectorAll('#category');
    //-     console.log(lng.length);

    //-     for (var i=0; i < lng.length; i++){

    //-         var lnglat = {lat: lat[i].outerText, lng: lng[i].outerText};
    //-         if(category[i].outerText == "sports"){
    //-             var glyph = 'âš½';
    //-         } else if(category[i].outerText == "studies"){
    //-             var glyph = 'ðŸ“—';
    //-         } else if(category[i].outerText == "leisure"){
    //-             var glyph = 'ðŸ–ï¸';
    //-         } else if(category[i].outerText == "club activity"){
    //-             var glyph = 'ðŸ•ï¸';
    //-         }

    //-         console.log(category[i].outerText);
    //-         var marker = new Mazemap.MazeMarker( {
    //-         color: "MazeMapOrange",
    //-         size: 20,
    //-         glyph: glyph

    //-         } ).setLngLat(  lnglat ).addTo(map);
    //-     }



        







