extends layout

block content
    .container
        .row.py-5
            form.input-group(action='/search' method = 'GET')
                input.search.form-control(type='text', placeholder='Event search...', name='search')
                .input-group-btn.pr-4
                    button.btn.searchButton(type='submit')
                        i.material-icons search
                .pr-4
                    select.filter.form-control(name='filterBy')
                        option(value='') Filter By
                        option(value='sports') Sports
                        option(value='studies') Studies
                        option(value='leisure') Leisure
                        option(value='club activity') Club Activity
                .pr-4
                    select.filter.form-control(name='sortBy')
                        option(value='') Sort By
                        option(value='happeningsoon') Happening Soon
                        option(value='happeninglatest') Happening latest
                        option(value='newestcreated') Newest Created
                        option(value= 'latestcreated') Latest Created
                        //option(value= 'capacity') Capacity

    h1 #{title}

    br
    //input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..', title='Type in a name')
    if(noMatch !== null)
        h3 #{noMatch}

    ul(id="myUL")
        each event, i in events
            li
                a(href="/event/"+event._id)= event.name
                p #{event.current_attendees} / #{event.capacity} people
                p Happening: #{event.datetime.toLocaleDateString()} at #{event.datetime.toLocaleTimeString(undefined ,{timeStyle:"short", hourCycle:"h24"})}
                form(method='POST', action='/event/join/' + event.id)
                    input(type='hidden', name="id", value=event.id)
                    input.btn.btn-primary(type='submit',value='Join Event')
                
                .dropdown
                    button.dropbtn(onclick='myFunction()') About Event
                    #myDropdown.dropdown-content
                        a(href='event.name') Description
                        a(href='event.current_attendees') Attendees

                br

    //script.
    //    function myFunction() {
    //    var input, filter, ul, li, a, i, txtValue;
    //    input = document.getElementById("myInput");
    //    filter = input.value.toUpperCase();
    //    ul = document.getElementById("myUL");
    //    li = ul.getElementsByTagName("li");
    //    for (i = 0; i < li.length; i++) {
    //    a = li[i].getElementsByTagName("a")[0];
    //    txtValue = a.textContent || a.innerText;
    //    if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //    li[i].style.display = "";
    //    } else {
    //    li[i].style.display = "none";
    //    }
    //    }
    //    }


      