extends layout

block content
    br
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
        table.ui.celled img { display: inline-block; }
    //input#myInput(type='text', onkeyup='myFunction()', placeholder='Search for names..', title='Type in a name')
    if(noMatch !== null)
        h3 #{noMatch}

    each event, i in events                           
        .ui.noleftmargin
            table.ui.celled.table.left.aligned
                thead                               
                    h3 #{event.name}
                tbody
                    tr.trbackground
                        th 
                            h4 Capacity: #{event.capacity}
                        th 
                            h4 Description:
                    tr.trbackground
                        th 
                            h4 Happening: #{event.datetime.toLocaleDateString()} at #{event.datetime.toLocaleTimeString(undefined ,{timeStyle:"short", hourCycle:"h24"})}
                        th 
                            h4 #{event.description}
                tfoot
                    form(method='POST', action='/event/join/' + event.id)
                        input(type='hidden', name="id", value=event.id)
                        input.btn.btn-primary(type='submit',value='More Details')
                    form(method='POST', action='/event/join/' + event.id)
                        input(type='hidden', name="id", value=event.id)
                        input.btn.btn-primary(type='submit',value='Join Event')
    br

    //script.
    //    function myFunction() {
    //    var input, filter, ul, li, a, i, txtValue;
    //    input = document.getElementById("myInput");
    //    filter = input.value.toUpperCase();
    //    ul = document.getElementById("myUL");
    //    li = ul.getElementsByTagName("li");
    //    for (i = 0; i < li.length; i++) {
    //    a = li[i].getElementsByTagName("a")[0];
    //    txtValue = a.textContent || a.innerText;
    //    if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //    li[i].style.display = "";
    //    } else {
    //    li[i].style.display = "none";
    //    }
    //    }
    //    }


      