extends layout

block content

  .container
    .events-content.p-3.lightBackground
      h1.title Edit Profile
      h3.title Your email is #{user.email}
      .body
        form(method='POST', action='/user/updateProfile')
          .form-group.mb-3
            label.spartan Name:
            if nameError
              input.red.form-control.spartan(name='name', type='text', value=user.name)
              small.spartan #{nameError.msg}
            else
              input.form-control.spartan(name='name', type='text', value=user.name)
          .form-group.mb-3
            label.spartan Password:
            if passwordError
              input.red.form-control.spartan(name='password',type='password', value=user.password)
              small.spartan #{passwordError.msg}
            else
              input.form-control.spartan(name='password',type='password', value=user.password)
          .form-group.mb-3
            label.spartan Confirm Password:
            if confirmPasswordError
              input.red.form-control.spartan(name='confirm_password',type='password', value=user.password)
              small.spartan #{confirmPasswordError.msg}
            else
              input.form-control.spartan(name='confirm_password',type='password', value=user.password)
          br
          input.submitButtonNoWidth(type='submit',value='Submit')


